<!-- index.html -->
{% extends 'layout.html' %}

{% block content %}
 <body onload="setDefaultDate()">
    <script>
      function setDefaultDate(){
        /* Set the date in the datepicker element to current day by default */
        var date = new Date(),
            day = date.getDate(),
            month = date.getMonth()+1, //January is 0 by default
            year = date.getFullYear(),
            normalDate;

        //yyyy-mm-dd string format required to set the value in the datepicker
        if(day < 10){
            day = "0"+day;
        }
        if(month < 10){
            month = "0"+month;
        }

        normalDate = year+"-"+month+"-"+day; //yyyy-mm-dd string
        document.getElementById("startDate").value=normalDate;
        document.getElementById("endDate").value=normalDate;
        setMilDate(); //update separate element
      }

      function setMilDate(){
        /* Set separate element to display date in ddMONyy format ex 29DEC19 */
        var date = document.getElementById("startDate").value.split("-");
        var milStyleDate;
        var months = ["JAN", "FEB", "MAR", "APR", "MAY", "JUN", "JUL", "AUG", "SEP", "OCT", "NOV", "DEC"];
        var day = date[2],
            month = parseInt(date[1]),
            year = date[0];
        milStyleDate = day+months[month-1]+year.slice(2);
        document.getElementById("milDate").innerHTML = milStyleDate;
      }

      function calculateFlightTime() {
        /* Function to calculate the time between take off and landing times and display it in the proper format
           Times are converted to floats with 1 decimal place, 1.0 = 1 hour and 0.1 = 6 minutes as requested
         */
        var startTime = document.getElementById("starttime").value,
                endTime = document.getElementById("endtime").value,
                startDate = document.getElementById("startDate").value,
                endDate = document.getElementById("endDate").value,
                startMinutes,
                endMinutes,
                days,
                flightTime;

        startTime = startTime.split(":"); //initially received as a string with format 16:11 (24 hour)
        endTime = endTime.split(":");
        startMinutes = parseInt(startTime[0]) * 60 + parseInt(startTime[1]);
        endMinutes = parseInt(endTime[0]) * 60 + parseInt(endTime[1]);
        flightTime = endMinutes - startMinutes;
        if (endMinutes < startMinutes || startDate !== endDate) {
          //to account for when a flight starts at 11pm on one day and ends at 3 am the next day
          startDate = startDate.split("-");
          endDate = endDate.split("-");
          days = parseInt(endDate[2]) - parseInt(startDate[2]);
          flightTime += days*24*60;
        }
        flightTime = flightTime / 60; //convert to 6 minute intervals
        flightTime = flightTime.toFixed(1);
        document.getElementById("flighthours").innerHTML = flightTime;

      }
      function updateAll(){
        setMilDate();
        calculateFlightTime();
        document.getElementById("roledisplay").innerHTML=document.getElementById("role").value;
        document.getElementById("systemdisplay").innerHTML=document.getElementById("system").value;
        document.getElementById("starttimedisplay").innerHTML=document.getElementById("starttime").value;
        document.getElementById("endtimedisplay").innerHTML=document.getElementById("endtime").value;
        document.getElementById("tailnumdisplay").innerHTML=document.getElementById("tailnum").value;
        document.getElementById("aircraftdisplay").innerHTML=document.getElementById("aircraft").value;
      }
    </script>

    <h1> Logbook </h1>
    <p> Log Flight Hours </p>

    <form>
      <div>
        Start Date:
        <input onchange="updateAll()" id="startDate" type="date"/>
        End Date:
        <input onchange="updateAll()" id="endDate" type="date"/>
        Takeoff Time:
        <input id="starttime" onchange="updateAll()" type="time">
        Landing Time:
        <input id="endtime" onchange="updateAll()" type="time">
      </div>
      <br>
      Role:
      <input id="role" size="5" onchange="updateAll()" autocomplete="on" type="text"/>
      System:
      <input id="system" size="5" onchange="updateAll()" autocomplete="on" type="text"/>
      Tail Number:
      <input id="tailnum" size="15" onchange="updateAll()" autocomplete="on" type="text"/>
      ACFT:
      <input id="aircraft" size="15" onchange="updateAll()" autocomplete="on" type="text"/>
      <input id="submit" type="button"/>
      <p>
      Date:
      <a id="milDate"></a>
      <br>
      Role:
      <a id="roledisplay"></a>
      <br>
      System:
      <a id="systemdisplay"></a>
      <br>
      Takeoff:
      <a id="starttimedisplay"></a>
      <br>
      Landing:
      <a id="endtimedisplay"></a>
      <br>
      Flight Hours:
      <a id="flighthours"><a/>
      <br>
      Tail Number:
      <a id="tailnumdisplay"></a>
      <br>
      Aircraft:
      <a id="aircraftdisplay"></a>
    </form>
  </body>
{% endblock %}