<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Logbook</title>
  </head>

  <body onload="setDefaultDate()">
    {% extends "template.html" %}
    {% block content %}
    <script>
      function setDefaultDate(){
        /* Set the date in the datepicker element to current day by default */
        var date = new Date(),
            day = date.getDate(),
            month = date.getMonth()+1, //January is 0 by default
            year = date.getFullYear(),
            normalDate;

        //yyyy-mm-dd string format required to set the value in the datepicker
        if(day < 10){
            day = "0"+day;
        }
        if(month < 10){
            month = "0"+month;
        }

        normalDate = year+"-"+month+"-"+day; //yyyy-mm-dd string
        document.getElementById("datePicker").value=normalDate;
        setMilDate(); //update separate element
      }

      function setMilDate(){
        /* Set separate element to display date in ddMONyy format ex 29DEC19 */
        var date = document.getElementById("datePicker").value.split("-");
        var milStyleDate;
        var months = ["JAN", "FEB", "MAR", "APR", "MAY", "JUN", "JUL", "AUG", "SEP", "OCT", "NOV", "DEC"];
        var day = date[2],
            month = parseInt(date[1]),
            year = date[0];
        milStyleDate = day+months[month-1]+year.slice(2);
        document.getElementById("milDate").innerHTML = milStyleDate;
      }

      function calculateFlightTime() {
        /* Function to calculate the time between take off and landing times and display it in the proper format
           Times are converted to floats with 1 decimal place, 1.0 = 1 hour and 0.1 = 6 minutes as requested
         */
        var start = document.getElementById("starttime").value,
                end = document.getElementById("endtime").value,
                startminutes,
                endminutes,
                total;

        start = start.split(":"); //initially received as a string with format 16:11 (24 hour)
        end = end.split(":");
        startminutes = parseInt(start[0]) * 60 + parseInt(start[1]);
        endminutes = parseInt(end[0]) * 60 + parseInt(end[1]);
        total = endminutes - startminutes;

        if (endminutes < startminutes) {
          total += 24*60; //to account for when a flight starts at 11pm on one day and ends at 3 am the next day
        }
        total = total / 60; //convert to 6 minute intervals
        total = total.toFixed(1);
        document.getElementById("flighthours").innerHTML = total;

      }
      function updateAll(){
        setMilDate();
        calculateFlightTime();
        document.getElementById("roledisplay").innerHTML=document.getElementById("role").value;
        document.getElementById("systemdisplay").innerHTML=document.getElementById("system").value;
        document.getElementById("starttimedisplay").innerHTML=document.getElementById("starttime").value;
        document.getElementById("endtimedisplay").innerHTML=document.getElementById("endtime").value;
        document.getElementById("tailnumdisplay").innerHTML=document.getElementById("tailnum").value;
        document.getElementById("aircraftdisplay").innerHTML=document.getElementById("aircraft").value;
      }
    </script>

    <h1> Logbook </h1>
    <p> Log Flight Hours </p>

    <form>
      Date:
      <input onchange="updateAll()" id="datePicker" type="date" />
      Role:
      <input id="role" size="5" onchange="updateAll()" autocomplete="on" type="text"/>
      System:
      <input id="system" size="5" onchange="updateAll()" autocomplete="on" type="text"/>
      Takeoff Time:
      <input id="starttime" onchange="updateAll()" type="time">
      Landing Time:
      <input id="endtime" onchange="updateAll()" type="time">
      Tail Number:
      <input id="tailnum" size="15" onchange="updateAll()" autocomplete="on" type="text"/>
      ACFT:
      <input id="aircraft" size="15" onchange="updateAll()" autocomplete="on" type="text"/>
      <input id="submit" type="button"/>
      <p>
      Date:
      <a id="milDate"></a>
      <br>
      Role:
      <a id="roledisplay"></a>
      <br>
      System:
      <a id="systemdisplay"></a>
      <br>
      Takeoff:
      <a id="starttimedisplay"></a>
      <br>
      Landing:
      <a id="endtimedisplay"></a>
      <br>
      Flight Hours:
      <a id="flighthours"><a/>
      <br>
      Tail Number:
      <a id="tailnumdisplay"></a>
      <br>
      Aircraft:
      <a id="aircraftdisplay"></a>
    </form>

    {% endblock %}
  </body>
</html>
